.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px 0px 92px;
  overflow: hidden;
  background-color: rgb(248, 249, 250);
  transition: padding 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  border-right: none;
  box-shadow: rgba(19, 25, 32, 0.08) 0px 8px 24px;
  height: 60px;
}

.header-reduced {
  padding: 0px 32px 0px 230px;
}

.header-left-side-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.side-bar-toggler {
  margin-top: 5px;
}

.side-bar-toggler:hover {
  cursor: pointer;
}
